# Dependencies
node_modules
npm-debug.log

# Build
build
dist

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env*.local

# Docker
.docker

# Git
.git
.gitignore

# Logs
logs
*.log

# Test
coverage
.nyc_output

# Misc
README.md
.dockerignore
